.container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.image {
  height: 300px;
  width: 300px;
}

.directions {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.rounded {
  border-radius: 5%;
}
