//- https://codepen.io/johnfinkdesign/pen/XjZBPE
doctype html
html(lang="en")
    head
        include includes/head
        +stylesheet("/static/error.css")
        title= error_code
    body 
        .error-page
            div
                if error_code == "400"
                    h1(data-h1='400') 400
                    p(data-p='BAD REQUEST') BAD REQUEST
                else if error_code == "401"
                    h1(data-h1='401') 401
                    p(data-p='UNAUTHORIZED') UNAUTHORIZED
                else if error_code == "403"
                    h1(data-h1='403') 403
                    p(data-p='FORBIDDEN') FORBIDDEN
                else if error_code == "404"
                    h1(data-h1="404") 404
                    p(data-p="NOT FOUND") NOT FOUND

            #particles-js
            unless error_code == 401 || error_code == 403
                a(href="/").back GO BACK
            else 
                a(href="/login").back Login