doctype html
html(lang="en")
    head
        include includes/head
        +stylesheet("/static/login.css")
        title Login
    body 
        .login-page 
            form.form(action="/login" method="POST")
                input#username(type="text", name="username", placeholder="username")
                input#password(type="password", name="password", placeholder="password")
                button Login 
                p.message Not registered? 
                    a(href="/register") Create an account
        </div>