{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
{#    {% if error %}#}
{#        <p class=error><strong>error:</strong></p>{{ error }}#}
{#    {% endif %}#} -->
<h1>UB study space finder</h1>
<form method="POST">
    <h3>Give it a try!</h3>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Search!</button>
</form>
{% endblock content %}