.container-fluid{
    height: 100vh;
}
legend{
    text-align: center;
}
.row{
    justify-content: space-between;
}
form{
    border: 1px solid rgba(0,0,0,0.4);
    padding: 5px 8px;
    background-color: #FCF5E5;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
form .btn{
    width: 80%;
}